html, body{
  font-family: 'Raleway', sans-serif;
}

a{
  &.btn{
    color: #fff;

    &:hover{
      color: #fff;
    }
  }
}

h1, h2, h3, h4, h5, p {
  color: $text-color;

  .gray-text{
    color: $gray;
  }

  .blue-text{
    color: $secondary-color;
  }
}

h1, h2, h3, h4, h5{
  font-weight: 600;
}

h1{
  font-size: 44px;

  @media #{$information-phone} {
    font-size: 40px;
  }
}

h2{
  font-size: 32px;

  @media #{$information-phone} {
    font-size: 30px;
  }
}

h3{
  font-size: 26px;
  color: $small-text-color;

  @media #{$information-phone} {
    font-size: 24px;
  }
}

h4{
  font-size: 22px;
  color: $small-text-color;

  @media #{$information-phone} {
    font-size: 20px;
  }
}

p{
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;

  @media #{$information-phone} {
    font-size: 14px;
  }

  .small{
    font-size: 13px;
  }

  &.sub-text{
    color: $gray;
  }
}

.key-letter{
  display: inline-block;
  color: $secondary-color;
  background-color: #FFF;
  margin-right: 8px;
  text-align: center;
  border: 1px solid #BBB;
  border-radius: 4px;
  box-shadow: 3px 3px $secondary-color;
}

h2{
  .key-letter{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;

    @media #{$information-phone} {
      width: 46px;
      height: 46px;
      line-height: 46px;
      font-size: 38px;
    }
  }
}

h3{
  .key-letter{
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 32px;

    @media #{$information-phone} {
      width: 38px;
      height: 38px;
      line-height: 38px;
      font-size: 36px;
    }
  }
}