$primary-color: #02BEC4;
$secondary-color: #02547D;
$third-color: #0285A8;
$fourth-color: #A9E8DC;
$light: #E1F7E6;
$dim-light: #A9E8DC;

$angular-color: #DD1A16;
$react-color: #7DF0FF;
$ruby-color: #CC0000;
$mongodb-color: #419E39;
$php-color: #7488BD;
$android-color: #A4C639;
$ios-color:  #6B6B6B;
$mysql-color: #005987;
$vue-color: #41B883;
$amazon-color: #F68D11;
$docker-color: #3A8CB4;
$javascript-color: #F0DB4F;
$html-color: #E44D26;

$light-gray:#F9F9F9;

$gray: #888;

$text-color: #555;
$small-text-color: #666;
$light-text-color: #a9a9a9;

$information-sm-laptop: "only screen and (max-width : 1280px)";
$information-lg-tablet: "only screen and (max-width : 1024px)";
$information-tablet: "only screen and (max-width : 768px)";
$information-phone: "only screen and (max-width : 480px)";
$information-sm-phone: "only screen and (max-width : 330px)";

