/*======================
* Hero Section
====================== */
#hero-section{
  padding: 220px 0 160px;
  background-size: cover;
  background-position: center center;
  background-image: url('https://picsum.photos/1920/1080');
  overflow: hidden;
  position: relative;

  &:before{
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
  }

  .main-content{
    position: relative;
    z-index: 1;
    color: #FFF;

    h1, h2, h3 {
      color: inherit;
    }

    .page-title{
      font-size: 56px;
    }

    .page-description{
      font-size: 16px;
      color: #EEE;
    }
  }

  /* ===== Responsive ===== */
}


/*======================
* About Us Section
====================== */
#about-us-section{
  /* ===== Responsive ===== */
  @media #{$information-tablet} {
    .about-us__image{
      margin-bottom: 40px;

      img{
        width: 100%;
      }
    }
  }
}

/*======================
* Team Member Section
====================== */
#team-members-section{
  .main-content{
    .member-block{
      margin-bottom: 50px;
      position: relative;

      .member-picture{
        position: absolute;
        padding: 4px;
        background-color: $third-color;
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        border-radius: 50%;
        z-index: 2;

        img{
          width: 140px;
          height: 140px;
        }
      }

      .member-profile{
        padding: 15px 0;
        background-color: #FFF;
        margin-top: 72px;
        padding-top: 90px;
        position: relative;
        z-index: 1;
        box-shadow: 1px 1px 8px rgba(0,0,0,0.26);
        border-radius: 4px;
        overflow: hidden;

        &:before{
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          position: absolute;
          height: 8px;
          background-color: $third-color;
        }

        .member-name{
          color: $secondary-color;
          font-size: 17px;
          font-weight: 800;
          margin-bottom: 0;
        }

        .member-position{
          font-size: 14px;
          color: $small-text-color;
          font-weight: 500;
          margin: 0;
        }
      }

      .member-social-links{
        .social-item{
          padding: 0 4px;
          font-size: 20px;
          color: $light-text-color;
          cursor: pointer;
          a {
            color: $light-text-color;
          }
          i {
            &.fa-facebook-official {
              &:hover {
                color: $facebook-color;
              }
            }

            &.fa-github {
              &:hover {
                color: $github-color;
              }
            }

            &.fa-google {
              &:hover {
                color: $google-color;
              }
            }

            &.fa-linkedin {
              &:hover {
                color: $linkedin-color;
              }
            }
          }

          &.lg{
            font-size: 25px;
            padding: 0 6px;
          }
        }
      }
    }
  }

  /* ===== Responsive ===== */
  @media #{$information-tablet} {
    .main-content{
      .member-block{
        margin-bottom: 40px;

        .member-picture{
          padding: 4px;
        }

        .member-profile{
          &:before{
            height: 6px;
          }

          .member-name{
            font-size: 19px;
          }

          .member-position{
            font-size: 15px;
          }
        }

        .member-social-links{
          .social-item{
            margin-top: 10px;
            font-size: 24px;
          }
        }
      }
    }
  }
}


/*======================
* Technologies Section
====================== */
#technologies-section{
  .technologies-list{
    margin-top: 50px;

    .technology-item{
      display: flex;
      align-items: center;
      margin-bottom: 25px;

      .technology-icon{
        width: 100%;

        em,i {
          display: inline-block;
          font-size: 80px;
          color: #DDD;
          overflow: hidden;
          transition: all ease-out 250ms 10ms;
          cursor: pointer;
          padding-bottom: 20px;

          &.icon-angular{
            &:hover{
              color: $angular-color;
            }
          }

          &.icon-rails{
            &:hover{
              color: $ruby-color;
            }
          }

          &.icon-react{
            &:hover{
              color: $react-color;
            }
          }

          &.devicon-apple-original{
            &:hover {
              color: $ios-color;
            }
          }

          &.devicon-android-plain{
            &:hover {
              color: $android-color;
            }
          }

          &.devicon-javascript-plain{
            &:hover {
              color: $javascript-color;
            }
          }

          &.devicon-html5-plain{
            &:hover {
              color: $html-color;
            }
          }

          &.devicon-docker-plain{
            &:hover {
              color: $docker-color;
            }
          }

          &.devicon-mongodb-plain{
            &:hover {
              color: $mongodb-color;
            }
          }

          &.devicon-vuejs-plain{
            &:hover {
              color: $vue-color;
            }
          }

          &.devicon-php-plain{
            &:hover {
              color: $php-color;
            }
          }

          &.devicon-mysql-plain{
            &:hover {
              color: $mysql-color;
            }
          }

          &.devicon-amazonwebservices-original{
            &:hover {
              color: $amazon-color;
            }
          }
        }
      }

      .technology-info{
        display: flex;
        justify-content: center;
        flex-direction: column;

        .technology-name{
          margin-bottom: 3px;
          font-size: 20px;
        }

        .technology-desc{
          margin: 0;
          font-size: 14px;
          color: $small-text-color;
        }
      }
    }
  }

  /* ===== Responsive ===== */
  @media #{$information-phone} {
    .technology-item{
      width: 50%;
    }
  }
}