/* ============================
 * Member Profile Stylesheet
 * ============================ */
#member-profile{
  .profile{
    background-color: #FFF;
    z-index: 1;
    top: -40px;
    position: relative;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    padding: 145px 40px 100px;
    border-top: 8px solid $third-color;
    border-bottom: 8px solid $third-color;

    .member-picture{
      border: 6px solid $third-color;
      position: absolute;
      left: 50%;
      top: -116px;
      width: 220px;
      height: 220px;
      border-radius: 110px;
      overflow: hidden;
      background-color: #efefea;
      box-shadow: 0 0 12px rgba(0,0,0,0.6);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);

      img{
        max-width: 110%;
        max-height: 110%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }

    .social-items{
      position: absolute;
      top: 150px;
      right: 0;

      .social-item{
        width: 48px;
        height: 48px;
        display: block;
        line-height: 48px;
        font-size: 20px;
        background-color: $secondary-color;
        color: white;
        text-align: center;
        box-shadow: inset 0 -1px 2px rgba(0,0,0,0.15);

        &.facebook{ background-color: #4267B2; }
        &.linkedin{ background-color: #0077B5; }
        &.google{ background-color: #D54B3D; }
      }
    }

    .member-basic-info{

      .member-name {
        text-transform: uppercase;
        color: $secondary-color;
        letter-spacing: 1px;
        font-size: 32px;
        margin-bottom: 12px;
      }

      .member-role{
        font-weight: 600;
        font-size: 16px;
        color: $third-color;
        position: relative;
        background-color: #E8E8E8;
        display: inline-block;
        padding: 0 35px;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
      }
    }

    .profile-content{
      margin-top: 30px;

      .profile-content-block{
        margin-bottom: 40px;

        .title{
          margin-bottom: 25px;
          color: $secondary-color;
        }

        .content-block-title{
          margin-bottom: 30px;
        }

        .content-block-context{
          padding: 0 20px;
        }
      }
    }
  }

  /* ============== Special Elements =============== */

  /* List of featured Technologies */
  .technology-list{
    padding: 0;
    margin: 10px 0 30px;

    .technology-item{
      list-style-type: none;
      padding:0;
      align-items: center;
      margin-bottom: 10px;

      .row{
        align-items: center;

        .tecnology-icon{
          text-align: center;

          i,em{
            font-size: 34px;
            color: #DDD;
          }
        }
      }
    }
  }

  /* Portfolio Demo Slider */
  .profile-demo-slider{
    margin-top: 30px;
    color: #FFF;
    position: relative;

    .slider-arrow{
      position: absolute;
      top: 50%;
      z-index: 3;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      font-size: 23px;
      line-height: 50px;
      text-align: center;
      color: #DDD;
      cursor: pointer;
      transition: all ease-out 150ms 20ms;

      &:hover{
        color: #FFF;
        text-shadow: 1px 2px 2px $secondary-color;
      }

      &__next{
        right: 0;
      }

      &__prev{
        left: 0;
      }
    }

    .portfolio-item{
      height: 400px;
      overflow: hidden;
      position: relative;

      .portfolio-information{
        position: absolute;
        width: 100%;
        height: 100px;
        display: flex;
        color: #FFF;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        padding: 10px 40px;

        *{
          color: inherit;
        }

        .portfolio-item-context{
          flex: 1;

          .portfolio-name{
            margin: 0;
            opacity: 0;
            transform: translateY(35px);
            transition: all ease-out 440ms 20ms;
          }

          .portfolio-desc{
            font-size: 13px;
            opacity: 0;
            transform: translateY(35px);
            transition: all ease-out 440ms 250ms;
          }
        }

        .portfolio-item-cta{
          align-self: stretch;
          display: flex;
          align-items: center;
          opacity: 0;
          transform: translateX(30px);
          transition: all ease-out 300ms 750ms;
        }

        &.active{
          .portfolio-item-context{
            .portfolio-name {
              transform: translateY(0px);
              opacity: 1;
            }

            .portfolio-desc{
              transform: translateY(0px);
              opacity: 0.8;
            }
          }

          .portfolio-item-cta{
            opacity: 1;
            transform: translateX(0px);
          }
        }
      }
    }
  }

  /* Working Timeline */
  .working-history{
    padding: 0;
    position: relative;
    overflow: hidden;

    &:before{
      content: '';
      width: 5px;
      height: 9999px;
      position: absolute;
      background-color: $secondary-color;
      left: 40px;
    }

    &__timeline{
      padding: 0;

      &__milestone{
        list-style: none;
        padding: 10px 60px 0 100px;
        margin-top: 40px;
        position: relative;

        &:first-child{
          margin-top: 20px;
        }

        &:before{
          content: '';
          width: 30px;
          height: 30px;
          position: absolute;
          top: 10px;
          left: 28px;
          border: 5px solid $secondary-color;
          background-color: #FFF;
          border-radius: 50%;

          // init state
          opacity: 0;
          transform: scale(0.3);
        }

        .working-period{
          text-transform: uppercase;
          font-weight: 600;
          height: 30px;
          width: auto;
          display: inline-block;
          line-height: 30px;
          margin-bottom: 10px;
          padding: 0 22px;
          color: #FFF;
          background-color: $secondary-color;
          position: relative;

          // init state
          opacity: 0;
          transform: translateX(40px);

          &:before{
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            border-top: 8px solid transparent;
            border-right: 10px solid $secondary-color;
            border-bottom: 8px solid transparent;
            right: calc(100%);
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }

        .company-info{
          color: $third-color;
          font-weight: 600;
          font-size: 18px;
          padding-left: 22px;

          // init state
          opacity: 0;
          transform: translateX(40px);
        }

        .description{
          margin-top: 10px;
          padding-left: 22px;

          // init state
          opacity: 0;
          transform: translateX(40px);

          *{
            font-size: 15px;
          }
        }

        &.active{

          &:before{
            -webkit-animation: popOut 500ms ease-out forwards;
            -o-animation: popOut 500ms ease-out forwards;
            animation: popOut 500ms ease-out forwards;
          }

          .working-period{
            transition: all ease-out 500ms 400ms;
            opacity: 1;
            transform: translateX(0px);
          }

          .description, .company-info{
            // init state
            transition: all ease-out 500ms 800ms;
            opacity: 1;
            transform: translateX(0px);
          }
        }
      }
    }
  }

  /* ===== Responsive ===== */
  @media #{$information-tablet} {
    .profile{
      top: -40px;
      box-shadow: 0 0 25px rgba(0,0,0,0.4);
      padding: 135px 40px 60px;

      .member-picture{
        width: 200px;
        height: 200px;
        border-radius: 100px;
        top: -103px;
      }

      .social-items{
        top: 140px;
        right: 0;

        .social-item{
          width: 46px;
          height: 46px;
          line-height: 46px;
          font-size: 19px;
        }
      }

      .member-basic-info{

        .member-name {
          font-size: 30px;
          margin-bottom: 10px;
        }

        .member-role{
          font-size: 15px;
          padding: 0 30px;
          height: 28px;
          line-height: 28px;
          border-radius: 14px;
        }
      }

      .profile-content{

        .profile-content-block{
          margin-bottom: 35px;

          .title{
            margin-bottom: 20px;
          }

          .content-block-title{
            margin-bottom: 30px;
          }

          .content-block-context{
            padding: 0;

            img{
              width: 100%;
            }
          }
        }
      }
    }

    /* ============== Special Elements =============== */

    /* Portfolio Demo Slider */
    .profile-demo-slider{
      margin-top: 25px;

      .portfolio-item{
        height: 380px;

        img{
          position: absolute;
          max-height: 380px;
          min-width: 100%;
          width: auto !important;
          max-width: none;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }

        .portfolio-information{
          padding: 10px 30px;
        }
      }
    }

    /* Working Timeline */
    .working-history{
      padding: 0;

      &__timeline{
        padding: 0;

        &__milestone{
          padding: 10px 0 0 85px;
          margin-top: 30px;

          &:before{
            width: 26px;
            height: 26px;
            top: 10px;
            left: 30px;
          }

          .working-period{
            height: 28px;
            line-height: 28px;
            margin-bottom: 10px;
            padding: 0 20px;

            &:before{
              border-top: 7px solid transparent;
              border-right: 9px solid $secondary-color;
              border-bottom: 7px solid transparent;
            }
          }

          .company-info{
            font-weight: 600;
            font-size: 18px;
            padding-left: 22px;
          }

          .description{
            margin-top: 10px;
            padding-left: 22px;

            *{
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  @media #{$information-phone} {
    .profile{
      top: -40px;
      box-shadow: 0 0 25px rgba(0,0,0,0.4);
      padding: 125px 20px 40px;
      margin-bottom: -40px;

      .member-picture{
        width: 180px;
        height: 180px;
        border-radius: 90px;
        top: -93px;
      }

      .social-items{
        top: 70px;
        right: 0;

        .social-item{
          width: 50px;
          height: 50px;
          line-height: 50px;
          font-size: 20px;
        }
      }

      .member-basic-info{

        .member-name {
          font-size: 25px;
          padding: 0 50px;
          letter-spacing: 0;
          margin-bottom: 8px;
        }

        .member-role{
          font-size: 14px;
          padding: 0 30px;
          height: 26px;
          line-height: 26px;
          border-radius: 13px;
        }
      }

      .profile-content{

        .profile-content-block{
          margin-bottom: 30px;

          .title{
            margin-bottom: 15px;
          }

          .content-block-title{
            margin-bottom: 25px;
          }
        }
      }
    }

    /* ============== Special Elements =============== */

    /* Portfolio Demo Slider */
    .profile-demo-slider{
      margin-top: 20px;

      .portfolio-item{
        height: 280px;

        img{
          max-height: 280px;
        }

        .portfolio-information{
          padding: 10px 30px;
          height: auto;

          .portfolio-desc{
            margin-bottom: 5px;
          }
        }
      }
    }

    /* Working Timeline */
    .working-history{
      padding: 0;

      &:before{
        width: 5px;
        left: 16px;
      }

      &__timeline{
        padding: 0;

        &__milestone{
          padding: 10px 0 0 50px;
          margin-top: 30px;

          &:before{
            width: 24px;
            height: 24px;
            top: 10px;
            left: 6px;
          }

          .working-period{
            height: 28px;
            line-height: 28px;
            margin-bottom: 10px;
            padding: 0 12px;
            font-size: 15px;
          }

          .company-info{
            font-weight: 600;
            font-size: 17px;
            padding-left: 12px;
          }

          .description{
            margin-top: 10px;
            padding-left: 13px;

            *{
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@keyframes popOut {
  0%{
    opacity: 0;
    transform: scale(0.3);
  }

  80%{
    opacity: 1;
    transform: scale(1.2);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}